# AI
langchain~=0.0.331
tiktoken~=0.5.1
chromadb~=0.4.15


# Application
fastapi==0.97.0
hypercorn==0.14.3
sqlalchemy==1.4.25
python-dotenv==1.0.0
pydantic==1.10.9
pandas==2.0.2
numpy==1.25.0
openpyxl==3.1.2
python-multipart==0.0.6
loguru
streamlit
sentence-transformers
pypdf
openai
numexpr